# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Node & Build artifacts (Supports root and subdirectories like /server)
node_modules/
dist/
server/dist/
*.tsbuildinfo
server/*.tsbuildinfo

# Misc
*.tgz
*.zip
.temp/
.cache/